#main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#background {
  background-color: var(--background-card);
  width: 100%;
  height: 100%;
}

#discover-section {
  background-color: var(--background-main); /* Use background-card variable */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
  margin-bottom: 20px;
}

h2 {
  text-align: center;
  color: var(--text-primary); /* Use text-primary variable */
  margin-bottom: 20px;
}

.listing-boxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.edit-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.box:hover .edit-overlay {
  opacity: 1;
}

.box:hover ::ng-deep .box-content {
  opacity: 0.5;
  filter: blur(2px);
}

.box ::ng-deep .like-icon {
  opacity: 0;
  pointer-events: none;
}

::ng-deep .p-button {
  width: 80px;
  text-align: center;
  justify-content: center;
}

#view-hover ::ng-deep .p-button {
  background-color: #084f8c;
  color: #d9d9d9;
  border-color: #084f8c;
}

#edit-hover ::ng-deep .p-button {
  background-color: #d9d9d9;
  color: #084f8c;
  border-color: #084f8c;
}

.back-button {
  background: transparent;
  border: none;
  font-size: 16px;
  color: var(--text-primary); /* Use text-primary for button text */
  position: relative;
  cursor: pointer;
}

.back-button:hover {
  color: var(--text-secondary); /* Use text-secondary for hover state */
}
