.top-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.top-bar-button,
.logout-button {
  padding: 10px 20px;
  margin-inline: 5px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #1081c7;
  color: #fff;
  transition: background-color 0.3s ease;
}

.logout-button {
  background-color: #d9d9d9;
  color: black;
  box-shadow: 0 2px 2px rgb(0 0 0 / 30%);
}

.logout-button:hover {
  background-color: #bd0000;
  color: white;
}

.top-bar-button:hover {
  background-color: #084f8c;
}
