.top-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.top-bar-button,
.logout-button {
  padding: 10px 20px;
  margin-inline: 5px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #1081c7;
  background-color: var(--primary-color); /* Use primary-color variable */
  color: white; /* Use text-primary for button text color */
  transition: background-color 0.3s ease;
}

.logout-button {
  background-color: var(--background-button); /* Use background-button for logout button */
  color: var(--text-primary); /* Use text-secondary for logout button text */
  box-shadow: 0 2px 2px rgb(0 0 0 / 30%);
}

.logout-button:hover {
  background-color: #bd0000; /* Retain the red hover effect for emphasis */
}

.top-bar-button:hover {
  background-color: var(--secondary-color); /* Use secondary-color variable for hover */
}

.language-toggle-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.language-icon {
  width: 44px;
  height: 44px;
  background-image: url('/assets/icons/globe-icon.svg'); /* Use a globe icon or any language-related icon */
  background-size: contain;
  background-repeat: no-repeat;
}

.language-toggle-button:hover .language-icon {
  filter: brightness(0.8);
}
