.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #f0f0ee;
}

app-theme-toggle {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.welcome-container {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 20;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-fields {
  width: 100%;
}

.login-container {
  width: 400px;
  padding: 20px;
  margin: auto;
  border: 1px solid var(--color-navbar);
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
  background-color: var(--background-main);
}

.login-container div {
  margin-bottom: 20px;
}

.login-container label {
  display: block;
  margin-bottom: 5px;
  color: var(--text-primary);
}

.login-container input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.login-container p {
  text-align: center;
  margin-top: 10px;
}

.welcome-text {
  font-style: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;

  /* margin-top: 40px; */
  margin-bottom: 40px;
  color: var(--text-primary);
}

.photo-container {
  background-image: url('../../../assets/images/lightphoto.jpg');
  background-size: cover;
  background-position: 15%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 50%;
  z-index: 0;
}

.login-logo {
  background-image: url('../../../assets/images/app_logo.png');
  color: wheat;
  width: 100px;
  height: 100px;
  background-size: cover; /* Ensures the image covers the entire div */
  background-position: center; /* Centers the image within the div */
  background-repeat: no-repeat;
}

.backdrop {
  opacity: var(--login-opacity);
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 80%);
  display: flex;
  z-index: 10;
}

.button-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: -10px;
}

::ng-deep .p-button {
  width: 100%;
  border-color: transparent;
  transition: all 0.2s;
  transform-style: ease-out;
}

::ng-deep .register-button {
  background-color: var(--background-button);
  color: var(--text-primary);
}

::ng-deep .login-button {
  background-color: var(--background-button);
  color: var(--text-primary);
}

::ng-deep .register-button:hover {
  box-shadow:
    var(--secondary-color) 0 1px 2px 0,
    var(--secondary-color) 0 1px 3px 1px;
  color: var(--secondary-color);
}

::ng-deep .login-button:hover {
  box-shadow:
    var(--secondary-color) 0 1px 2px 0,
    var(--secondary-color) 0 1px 3px 1px;
  color: var(--secondary-color);
}

@media (width < 720px) {
  .photo-container {
    width: 0;
    height: 0;
  }

  .welcome-container {
    width: 60%;
  }

  .login-container {
    width: 100%;
  }

  .main {
    flex-direction: column;
  }

  .welcome-text {
    font-size: 1.5rem;
    margin-bottom: auto;
  }
}

@media (width < 520px) {
  .welcome-container {
    width: 80%;
  }
}
