.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #f0f0ee;
}

.welcome-container {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-container {
  width: 400px;
  padding: 20px;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
  background-color: white;
  margin-bottom: 15%;
}

.login-container h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #a26e0d;
}

.login-container div {
  margin-bottom: 20px;
}

.login-container label {
  display: block;
  margin-bottom: 5px;
}

.login-container input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.login-container p {
  text-align: center;
  margin-top: 10px;
}

.welcome-text {
  font-style: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
  margin-bottom: 50px;
}

.photo-container {
  background-image: url('../../../assets/images/apartment-hunter.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: -10px;
}

::ng-deep .p-button {
  width: 100%;
  border-color: transparent;
}

::ng-deep .register-button {
  background-color: #f0f0f0;
  color: #a26e0d;
  border-color: #1081c7;
  box-shadow: 0 1px 1px rgb(0 0 0 / 30%);
}

::ng-deep .login-button {
  background-color: #1081c7;
  color: white;
}

::ng-deep .register-button:hover {
  background-color: #a6a6a6;
  color: white;
  transition: background-color 300ms ease;
}

::ng-deep .login-button:hover {
  background-color: #a6a6a6;
  color: white;
  transition: background-color 300ms ease;
}
