.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.photo-container {
  background-image: url('../../../assets/images/logincity.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 50%;
  display: flex;
  height: 100vh;
  border-left: 1px solid #e0e0e0;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}

.register-container {
  width: 300px;
  display: flex;
  margin: auto;
  flex-direction: column;
  place-items: center center;
}

.register-form {
  width: 400px;
  padding: 30px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
  background-color: #1081c738;
}

.register-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.register-container div {
  margin-bottom: 25px;
}

.register-container label {
  display: block;
  margin-bottom: 5px;
}

.register-container input {
  width: 100%;
  padding: 5px;
  font-size: 14px;
  box-sizing: border-box;
}

::ng-deep .p-button {
  width: 100%;
  padding: 5px;
  margin-top: 20px;
  font-size: 16px;
  height: 45px;
  background-color: #f2f2f2;
  color: #084f8c;
  border-color: #084e8c6b;
}
