.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #e0e0e0;
}

.backdrop {
  opacity: var(--login-opacity);
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 80%);
  display: flex;
  z-index: 10;
}

.photo-container {
  background-image: url('../../../assets/images/logincity.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 50%;
  display: flex;
  height: 100vh;
  border-left: 1px solid #e0e0e0;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}

.register-container {
  width: 300px;
  display: flex;
  margin: auto;
  flex-direction: column;
  place-items: center center;
  z-index: 20;
}

.register-form {
  width: 400px;
  padding: 30px;
  border: transparent;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
  background-color: var(--background-main);
}

.register-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--text-primary);
}

.register-container div {
  margin-bottom: 25px;
}

.register-container label {
  display: block;
  margin-bottom: 5px;
  color: var(--text-primary);
}

.register-container input {
  width: 100%;
  padding: 5px;
  font-size: 14px;
  box-sizing: border-box;
}

::ng-deep .p-button {
  width: 100%;
  border-color: transparent;
  transition: all 0.2s;
  transform-style: ease-out;
  background-color: var(--primary-color);
  color: var(--background-main);
}

::ng-deep .p-button:hover {
  box-shadow:
    var(--secondary-color) 0 1px 2px 0,
    var(--secondary-color) 0 1px 3px 1px;
  color: var(--background-main);
}

@media (width < 840px) {
  .photo-container {
    width: 0;
    height: 0;
  }

  .register-container {
    width: 60%;
  }

  .main {
    flex-direction: column;
  }

  .welcome-text {
    font-size: 1.5rem;
    margin-bottom: auto;
  }
}

@media (width < 520px) {
  .register-container {
    width: 80%;
  }
}
