/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: auto;

  /* Pushes the pagination to the bottom */
  padding: 20px 0;

  /* Adds padding to give some space */
}

.pagination button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #1081c7;
  background-color: var(--primary-color); /* Use primary-color variable for button background */
  color: white; /* Use text-primary for button text color */
  margin: 0 5px;
  transition: background-color 0.3s ease;
}

.pagination button:hover {
  background-color: var(--secondary-color); /* Use secondary-color for hover state */
  color: black;
}

.pagination span {
  display: flex;
  align-items: center;
  font-size: 16px;
  margin: 10px;
  color: var(--text-primary); /* Use text-primary for span text color */
}
