@import url('primeng/resources/themes/lara-light-blue/theme.css');
@import url('primeng/resources/primeng.css');

body,
html {
  height: 100%;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
