/* Container */
#dashboard-container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--background-main); /* Use background-main variable */
  color: var(--text-primary); /* Use text-primary variable */
}

h3 {
  margin-top: 10px;
}

.listing-boxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
